body {
  background-color: #ffffff;
  color: #2e2f42;
  font-family:'Roboto';
  font-size: 16px;
}

/* лого Веб синий #4D5AE5; */
/* цвет меню текаста , h2, банеера и подвала #2E2F42; */
/* цвет h1 белый #FFFFFF;  */
/* цвет адреса, текста серый, #434455; */
/*цвет кнопки #4D5AE5; */
/* в подвале текст #E7E9FC; */
/* вторичный цвет фона #F4F4FD */

ul {
  list-style: none; /* оформление свойство ul без класа отменили */
}

.logo {
  text-transform: uppercase;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2e2f42;
}
.web{
  color:#4D5AE5 ;
}


/* сделали невидимым текст класа*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-navy {
  color: #2e2f42;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}
.menu-navy:hover,.menu-navy:focus{
color:#434455;
text-decoration: underline;
text-decoration-color: #4D5AE5; 
}
.menu-iris {
  color: #4D5AE5;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.menu-iris:hover,.menu-iris:focus{
  color:#4D5AE5;
  text-decoration: underline;
  text-decoration-color: #4D5AE5; 
  }

  .address a{

    color: #434455;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .hero{
    background-color: #2e2f42;
  }

  .hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }

  .hero-button{
    color: #FFFFFF;
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    display: block;
  }

.section-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.section-text{
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.section-heading{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
/* identical to box height, or 111% */
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.section-laptop{
  isplay: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.section-smartphone{
  isplay: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.section-technique{
  isplay: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.photo-tim {
  background: #ffffff;
  box-shadow: 0px 1px 6px;
}


.logo1 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}


.footer{
  box-sizing: border-box;
  left: 0px;
  top: 2280px;
  background: #2E2F42;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.footer-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.05;
  letter-spacing: 0.02em;
  color: #E7E9FC;
}

.FilterBtnActive {
  display: flex;
  flex-direction: row;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: #4d5ae5;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}